@import 'nib'
@import 'nib/gradients'
@import 'nib/vendor'
@import 'nib/overflow'
@import 'nib/normalize'

vendors-prefixes = o ms moz webkit official

opacity(n)
  opacity n
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
nav > ul > li > a b
    right: 25px;
.texto-mayusculas
    text-transform: uppercase;

#sparks li
    overflow: unset;
.display-image 
    margin-right: 0px;
    margin-top: 60px;

.smart-style-3 #header
    background-color: #3EA7D1;
    background-image: linear-gradient(to bottom, #3EA7D1, #058DC7);

.txtFactura
    width:80px;
.btnAgregar
    margin: 0 0 0 36px;
    display: inline-block; 
.aplicaDescuento label
    position: relative;
.aplicaDescuento label a
    margin: 0 0 0 5px;
    position: absolute;
    right: 3px;
    top: 4px;
.aplicaDescuento a i
    margin: 3px;
    padding: 0;
    text-align: center;
    vertical-align: text-top;
.txtValoresDecimales
    text-align: right;
    width: 80px;
.txtValoresEnteros
    text-align: center;
    width: 80px;
.txtOpcionalInput
    display:none;
.labelDescuento
    margin: 0 0 0 12px
.existeCedula
    color: #d56161;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 1px;
.errorCedula
    color: #d56161;
    font-size: 11px;
    display:block;
    font-style: normal;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 1px;

.filaFacturaGestion
     cursor: pointer;
.tablaRolesDetalle:hover
    color: #058DC7;
    cursor: pointer;